  body {
    font-family: Stencil Std;
    min-height: 500px;
    background-color: #000000;
  }

  body {
    background-image: url("img/Saya_background.jpg");
    background-size: cover;
    background-position: right;
  }
  .container {
    text-align: left;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin-left: 100px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
    margin-left: 10px;
  }

  .chose {
    margin-left: 450px;
    width: 110px;
    height: 45px;
    color:red;
    font-size: 23px;
    font-family:cursive, Arial, Helvetica, sans-serif;
    background-color: #000000;
    border-radius: 20px;   
  }

  .chose:hover {
    color: #000000;
    background-color: red;
    transition: 1s;
  }

  h3 {
    color: #ffffff;
    margin-left: 120px;
  }